<div th:fragment="content">
    <h2>Categories</h2>

    <ul class="list-unstyled mt-4">
        <li th:each="c, stat : ${allCategories}" class="mb-2 d-flex align-items-center">

            <label class="form-check-label"
                   th:for="'category' + ${c.id}"
                   th:text="${c.name}">
                Category-Name
            </label>
        </li>
    </ul>

    <div>
        <a th:href="@{/categories/new-page}" class="btn btn-primary">Add new Category</a>
    </div>

</div>
