<div th:fragment="content">
    <h2 th:text="'Date: ' + ${#dates.format(#dates.createNow(), 'dd.MM.yyyy')}">Today</h2>

    <ul class="list-unstyled mt-4">
        <li th:each="h, stat : ${habits}" class="mb-2 d-flex align-items-center">

            <input type="checkbox"
                   class="form-check-input me-2"
                   th:id="'habit' + ${h.id}"
                   th:checked="${habitDayStatus.get(h.id)}"
                   th:data-id="${h.id}"
                   onchange="toggleHabitDone(this)"/>


            <label class="form-check-label"
                   th:for="'habit' + ${h.id}"
                   th:text="${h.name}">
                Habit-Name
            </label>
        </li>
    </ul>
</div>
