<div th:fragment="content">

    <div class="d-flex align-items-center gap-2 mt-2 mb-3">
        <a class="btn btn-outline-secondary"
           th:href="@{/today(date=${prevDate})}">← Prev</a>

        <h2 class="flex-grow-1 text-center mb-0"
            th:text="'Date: ' + ${#temporals.format(currentDate, 'dd.MM.yyyy')}">
            Today
        </h2>

        <span th:if="${nextDisabled}" class="btn btn-outline-secondary disabled"
              aria-disabled="true" tabindex="-1">Next →</span>
        <a th:if="${!nextDisabled}" class="btn btn-outline-secondary"
           th:href="@{/today(date=${nextDate})}">Next →</a>

        <a class="btn btn-outline-primary" th:href="@{/today}">Today</a>
    </div>

    <ul class="list-unstyled mt-4">
        <li th:each="h, stat : ${habits}" class="mb-2 d-flex align-items-center">

            <input type="checkbox"
                   class="form-check-input me-2"
                   th:id="'habit' + ${h.id}"
                   th:checked="${habitDayStatus.get(h.id)}"
                   th:data-id="${h.id}"
                   th:data-date="${#temporals.format(currentDate, 'yyyy-MM-dd')}"
                   onchange="toggleHabitDone(this)"/>


            <label class="form-check-label"
                   th:for="'habit' + ${h.id}"
                   th:text="${h.name}">
                Habit-Name
            </label>
        </li>
    </ul>

    <!-- navigating with keyboard arrow buttons :D (←/→) -->
    <script th:inline="javascript">
        document.addEventListener('keydown', (e) => {
          if (e.key === 'ArrowLeft') {
            window.location.href = /*[[@{/today(date=${prevDate})}]]*/ '#';
          }
          if (e.key === 'ArrowRight') {
            const nextDisabled = /*[[${nextDisabled}]]*/ true;
            if (!nextDisabled) {
              window.location.href = /*[[@{/today(date=${nextDate})}]]*/ '#';
            }
          }
        });
    </script>

</div>
