<div th:fragment="content">
    <h2>All Habits</h2>

    <ul class="list-unstyled mt-4">
        <li th:each="h, stat : ${habits}" class="mb-2 d-flex align-items-center">

            <a th:href="@{/habits/{id}(id=${h.id})}" th:text="${h.name}" class="btn btn-link p-0"></a>
            <a th:href="@{/habits/{id}/edit(id=${h.id})}" class="btn btn-sm btn-outline-primary ms-2">Edit</a>


            <form th:action="@{/habits/delete/{id}(id=${h.id})}"
                  method="post"
                  class="m-0 p-0"
                  th:data-habit-name="${h.name}"
                  onsubmit="return confirm('Are you sure to delete the habit: ' + this.dataset.habitName + ' ?');">

                <button type="submit" class="btn btn-danger btn-sm ms-2 px-2 py-0" style="font-size: 0.8rem;">
                    X️
                </button>
            </form>

        </li>
    </ul>

    <div>
        <a th:href="@{/habits/new-page}" class="btn btn-primary">Add new Habit</a>
    </div>
</div>
